---
layout: default
title: Home
---
<h1 class="mainheader">The AnthroGraph Project</h1>


<h2>Mission Statement</h2>
<p>Our project group explores the potential of semantic research data modelling for biological anthropology, with a special focus on osteological research. We propose to describe anthropological research and resulting data as semantic models to achieve the following:
Keep research data for long periods of time while retaining their scientific value. Optimise their reliability and reusability.
Meaningfully relate research data from different areas (e.g. on living human populations, human remains, non-human primates or contextual data).
Merge research data from disparate sources. Make them independent of data management technologies.
We are building digital resources to demonstrate the potential of semantic research data modelling in biological anthropology and to support its adoption by the scientific community.</p>
<h2>Target Groups</h2>
<p>With our work we address the following audiences:
Biological anthropologists producing scientific evidence
who want to document their research data with utmost efficiency and ensure their reusability for a long time to come.
Research projects in biological anthropology
that want to automate the merging of data from disparate sources while conscientiously documenting their work.
Scientific collections in biological anthropology
that want to keep track of research that has been conducted on the specimen under their curation.
If you belong to one of these groups, do not hesitate to contact us.</p>

<h2>Products</h2>
<p>While we believe semantic data modelling to be an excellent solution for research data management in biological anthropology as a whole, we are initially concentrating on applications in osteological research.</p>

<ul>
  
  <li>
    <p><strong>RDFBones</strong></br>
    is an RDF ontology for describing osteological research data.</p>
 
  <li>
    <p><strong>AnthroGraph</strong>
    is a server-based information system supporting osteological research that produces highly annotated RDF data.</p>
  </li>
</ul>
<a id="Blog"></a>
<h1 class="mainheader">The AnthroGraph Project Blog</h1></b>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <span class="post-excerpt">{{ post.excerpt | truncatewords: 20 }}</span>
    <!--{{ post.content }}-->
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
